@charset "UTF-8";
/* リキッドレイアウト対応のための設定 */
/* 数値計算関連の関数を使うために必要 (math.divなど)*/
.u-desktop {
  display: block;
}
@media screen and (max-width: 767px) {
  .u-desktop {
    display: none;
  }
}

.u-mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  .u-mobile {
    display: block;
  }
}

/* 数値計算関連の関数を使うために必要 (math.divなど)*/
/*****************************************
 * 数値から単位を取り除く
 * 参考
 * https://css-tricks.com/snippets/sass/
******************************************/
/*****************************************
 * px→remの計算
 * 参考
 * https://webdou.net/sass-rem/
 * Sassではmath.div関数の使用が推奨のため、スラッシュ(/)演算子から変更
******************************************/
/*****************************************
 * vwの計算
 * 参考
 * https://webdou.net/sass-vw/
 * Sassではmath.div関数の使用が推奨のため、スラッシュ(/)演算子から変更
******************************************/
/*****************************************
 * clampの記述
 * 使用例
    .example {
      font-size: rclamp(24, 64, 375, 1200);
    }
******************************************/
html {
  font-size: 10.6666666667px;
}
@media (min-width: 1500px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 9.6px;
  }
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #3A3838;
}

/* aタグのスタイルリセット*/
a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}

/* マウスホバー*/
a:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  a:hover {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core html defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.inner {
  max-width: 1250px;
  padding-right: 25px;
  padding-left: 25px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .inner {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.test h3 {
  font-size: 3.125rem;
}

.header {
  width: 6.25rem;
  background: #FFD600;
  height: 100vh;
  position: fixed;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .header {
    position: sticky;
    width: 100%;
    height: 6.25rem;
    top: 0;
  }
}

.header-inner {
  padding: 3.125rem 0;
  display: flex;
  flex-direction: column;
  height: inherit;
}
@media screen and (max-width: 767px) {
  .header-inner {
    padding: 0 1.25rem;
    flex-direction: initial;
    justify-content: space-between;
  }
}

.header-hamburger-wrapper {
  height: inherit;
}

.header-hamburger {
  position: relative;
  z-index: 999;
  width: 6.25rem;
  height: 6.25rem;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  padding: 0;
  outline: none;
  border: none;
  align-self: center;
}

.header-hamburger.is-open {
  background-color: transparent;
}

.header-hamburger span {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 3.125rem;
  height: 3px;
  background-color: #3A3838;
  transition: 0.5s;
}

.header-hamburger span:nth-of-type(1) {
  top: -0.9375rem;
}

.header-hamburger span:nth-of-type(2) {
  top: 0;
}

.header-hamburger span:nth-of-type(3) {
  top: 0.9375rem;
}

.header-hamburger.is-open span:nth-of-type(1) {
  top: 0;
  transform: translateX(-50%) rotate(45deg);
}

.header-hamburger.is-open span:nth-of-type(2) {
  opacity: 0;
}

.header-hamburger.is-open span:nth-of-type(3) {
  top: -5px;
  transform: translateX(-50%) rotate(-45deg);
}

.header-hamburger-text {
  padding-bottom: 1.875rem;
  text-align: center;
  text-transform: uppercase;
  font-size: max(12px, 1rem);
}
@media screen and (max-width: 767px) {
  .header-hamburger-text {
    padding-bottom: 1.25rem;
    padding-top: 0.3125rem;
  }
}

.header-nav {
  margin-top: auto;
}
@media screen and (max-width: 767px) {
  .header-nav {
    height: inherit;
  }
}
@media screen and (max-width: 599px) {
  .header-nav {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-nav-items {
    height: inherit;
    display: flex;
  }
}

.header-nav-item {
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .header-nav-item {
    align-self: center;
    max-width: none;
  }
}

.header-nav-item + .header-nav-item {
  margin-top: 1.25rem;
}
@media screen and (max-width: 767px) {
  .header-nav-item + .header-nav-item {
    margin-top: 0rem;
    margin-left: 0.625rem;
  }
}

.header-nav-item a {
  background-color: #ffffff;
  display: block;
  width: 4.375rem;
  aspect-ratio: 1/1;
  border: 3px solid #3A3838;
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .header-nav-item a {
    width: 5rem;
  }
}

.header-nav-item img {
  max-width: 2.625rem;
  width: 100%;
}

.header-drawer {
  position: absolute;
  z-index: 900;
  top: 0;
  bottom: 0;
  left: -50vw;
  width: 50vw;
  height: 100vh;
  background-color: #FFD600;
  overflow-y: scroll;
  scrollbar-width: none;
  transition: 0.6s;
}
@media screen and (max-width: 767px) {
  .header-drawer {
    left: -100vw;
    width: 100vw;
  }
}

.header-drawer::-webkit-scrollbar {
  display: none;
}

.header-drawer-noscroll {
  overflow: hidden;
}

.header-drawer.is-open {
  left: 0;
  transition: 0.6s;
}

.header-drawer-nav {
  margin-top: 6.25rem;
  margin-left: 9.375rem;
  height: 100%;
}

.header-drawer-item a {
  padding: 0.9375rem 0;
  display: inline-block;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1;
  color: #3A3838;
  text-align: center;
  text-transform: uppercase;
}

.header-drawer-item-sns {
  margin-top: 5.25rem;
  display: flex;
  gap: 1.25rem;
}
.header-drawer-item-sns .header-nav-item + .header-nav-item {
  margin-top: 0;
}
.header-drawer-item-sns .header-nav-item {
  margin: 0;
}

.header-drawer-item-tel a {
  font-size: 3rem;
}
@media (min-width: 751px) {
  .header-drawer-item-tel a {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}

.header-drawer-item-tel span {
  font-size: 2rem;
  margin-right: 0.625rem;
}

.main {
  margin-left: 6.25rem;
}
@media screen and (max-width: 767px) {
  .main {
    margin-left: 0rem;
  }
}

.mv {
  position: relative;
  height: 100vh;
  background-image: url(../images/common/mv.webp);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/common/mv.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .mv {
    height: 37.5rem;
  }
}

.mv-nner {
  height: inherit;
}
@media screen and (max-width: 767px) {
  .mv-nner {
    padding: 0 3.125rem;
  }
}

.mv-content {
  height: inherit;
  display: grid;
  place-content: center;
}

.mv-title {
  text-transform: uppercase;
  font-family: "Raleway", serif;
  font-size: 10rem;
  font-size: clamp(5.625rem, -10rem + 16.6666666667vw, 10rem);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  border-bottom: 5px solid #fff;
  color: #fff;
  padding-bottom: 2.6041666667%;
}
@media screen and (max-width: 767px) {
  .mv-title {
    font-size: 6.25rem;
    font-size: clamp(1rem, -1.4161073826rem + 12.0805369128vw, 4.375rem);
    border-bottom: 2px solid #fff;
  }
}

.mv-title span {
  color: #FFD600;
  font-size: 4.6875rem;
  font-size: clamp(3.125rem, -2.4553571429rem + 5.9523809524vw, 4.6875rem);
  display: block;
}
@media screen and (max-width: 767px) {
  .mv-title span {
    font-size: clamp(1rem, -0.0738255034rem + 5.3691275168vw, 2.5rem);
  }
}

.mv-text {
  margin-top: 4.375rem;
  margin-top: 3.6458333333%;
  font-size: 2.5rem;
  font-size: clamp(1.6875rem, -1.2142857143rem + 3.0952380952vw, 2.5rem);
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .mv-text {
    font-size: clamp(1rem, 0.3736017897rem + 3.1319910515vw, 1.875rem);
  }
}

.mv-img {
  position: relative;
  z-index: -1;
}

.mv-img::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.mv-img img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .mv-img img {
    height: 31.25rem;
  }
}

.section-title-en-right {
  text-transform: uppercase;
  color: #E8E8E8;
  font-size: 9.375rem;
  font-size: clamp(6.25rem, -4.9107142857rem + 11.9047619048vw, 9.375rem);
  font-weight: 700;
  writing-mode: vertical-lr;
  font-family: "Raleway", serif;
  position: absolute;
  top: 7.5rem;
  right: clamp(0rem, -21.25rem + 21.25vw, 4.25rem);
}
@media screen and (max-width: 1499px) {
  .section-title-en-right {
    writing-mode: horizontal-tb;
    position: static;
  }
}

.section-title-en-left {
  text-transform: uppercase;
  color: #E8E8E8;
  font-size: 9.375rem;
  font-size: clamp(5rem, -10.625rem + 16.6666666667vw, 9.375rem);
  font-weight: 700;
  writing-mode: vertical-lr;
  font-family: "Raleway", serif;
  position: absolute;
  top: 7.5rem;
  left: clamp(0rem, -21.25rem + 21.25vw, 4.25rem);
}
@media screen and (max-width: 1499px) {
  .section-title-en-left {
    writing-mode: horizontal-tb;
    position: static;
  }
}

.section-title-en-right span,
.section-title-en-left span {
  color: rgba(225, 214, 0, 0.25);
}

.section-title-ja {
  font-size: 4.375rem;
  font-size: clamp(3.125rem, -1.3392857143rem + 4.7619047619vw, 4.375rem);
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  color: #FFD600;
}
@media screen and (max-width: 767px) {
  .section-title-ja {
    font-size: clamp(1.875rem, 0.0813137755rem + 7.6530612245vw, 3.75rem);
  }
}

.button-read {
  display: inline-block;
  text-align: center;
  max-width: 31.25rem;
  width: 100%;
  padding: 1.25rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Raleway", serif;
  color: #F0F0F0;
  background: #3A3838;
  position: relative;
  transition: 0.3s;
}

.button-read::before {
  content: "";
  position: absolute;
  width: 3.125rem;
  aspect-ratio: 1;
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 100%);
          clip-path: polygon(0 100%, 0 0, 100% 100%);
  background: #FFD600;
  left: 0;
  bottom: 0;
}

.button-read::after {
  background: #FFD600;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  transform: scale(0, 0);
  transform-origin: bottom left;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.button-read:hover {
  color: #3A3838;
}

.button-read:hover::after {
  transform: scale(1, 1);
}

.concept {
  background-image: url(../images/common/concept-bg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 7.5rem;
  padding-bottom: 10.625rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  .concept {
    padding-top: 3.75rem;
  }
}

@media screen and (max-width: 767px) {
  .concept-inner {
    width: -moz-fit-content;
    width: fit-content;
  }
}

.section-title-ja {
  line-height: 1.2;
}

.concept-text {
  margin-top: 4.1875rem;
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .concept-text {
    margin-top: 2.5rem;
  }
}

.concept-text span {
  font-size: 2rem;
}

.concept-img {
  margin-top: 5.0625rem;
  max-width: 51.1875rem;
  position: relative;
  margin-left: auto;
  z-index: 0;
  right: 2.9625rem;
}
@media screen and (max-width: 767px) {
  .concept-img {
    margin-left: 2.9625rem;
  }
}

.concept-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FFD600;
  top: 3.125rem;
  left: 2.9625rem;
  z-index: -1;
}

.service {
  background: #FFFBE6;
  position: relative;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.service-img-first {
  margin-top: 4.1875rem;
  display: flex;
  justify-content: center;
  gap: 4.6875rem;
}
@media screen and (max-width: 767px) {
  .service-img-first {
    flex-direction: column;
  }
}

.service-img-link {
  display: block;
  max-width: 21.875rem;
  width: 100%;
  aspect-ratio: 1/1;
  transition: 0.3s;
  position: relative;
}
@media screen and (max-width: 1023px) {
  .service-img-link {
    max-width: 17.5rem;
  }
}

.service-img-item img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .service-img-item img {
    aspect-ratio: 3/2;
  }
}

.service-img-mask {
  max-width: 21.875rem;
  width: 100%;
  aspect-ratio: 1/1;
  background: #FFD600;
  border-radius: 50%;
  font-size: 3rem;
  text-align: center;
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.3s;
}

.service-img-mask::after {
  content: "";
  display: block;
  width: 6.25rem;
  height: 0.1875rem;
  background: #3A3838;
  margin-inline: auto;
  margin-top: 1.5625rem;
}

.service-img-item:hover .service-img-mask {
  opacity: 1;
}

.service-img-second {
  margin-top: 4.6875rem;
  display: flex;
  justify-content: center;
  gap: 4.6875rem;
}
@media screen and (max-width: 1023px) {
  .service-img-second {
    margin-top: 3.75rem;
  }
}

.service-button {
  margin-top: 4.6875rem;
  text-align: center;
}

.top-fv h3 {
  font-size: 3.125rem;
}/*# sourceMappingURL=styles.css.map */