@charset "UTF-8";
/* リキッドレイアウト対応のための設定 */
/* 数値計算関連の関数を使うために必要 (math.divなど)*/
.u-desktop {
  display: block;
}
@media screen and (max-width: 767px) {
  .u-desktop {
    display: none;
  }
}

.u-mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  .u-mobile {
    display: block;
  }
}

/* 数値計算関連の関数を使うために必要 (math.divなど)*/
/*****************************************
 * 数値から単位を取り除く
 * 参考
 * https://css-tricks.com/snippets/sass/
******************************************/
/*****************************************
 * px→remの計算
 * 参考
 * https://webdou.net/sass-rem/
 * Sassではmath.div関数の使用が推奨のため、スラッシュ(/)演算子から変更
******************************************/
/*****************************************
 * vwの計算
 * 参考
 * https://webdou.net/sass-vw/
 * Sassではmath.div関数の使用が推奨のため、スラッシュ(/)演算子から変更
******************************************/
/*****************************************
 * clampの記述
 * 使用例
    .example {
      font-size: rclamp(24, 64, 375, 1200);
    }
******************************************/
html {
  font-size: 10.6666666667px;
}
@media (min-width: 1500px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 9.6px;
  }
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  color: #3A3838;
}

/* aタグのスタイルリセット*/
a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}

/* マウスホバー*/
a:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  a:hover {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core html defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.inner {
  max-width: 1250px;
  padding-right: 25px;
  padding-left: 25px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .inner {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.test h3 {
  font-size: 3.125rem;
}

.header {
  width: 6.25rem;
  background: #FFD600;
  height: 100vh;
  position: fixed;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .header {
    position: sticky;
    width: 100%;
    height: 6.25rem;
    top: 0;
  }
}

.header-inner {
  padding: 3.125rem 0;
  display: flex;
  flex-direction: column;
  height: inherit;
}
@media screen and (max-width: 767px) {
  .header-inner {
    padding: 0 1.25rem;
    flex-direction: initial;
    justify-content: space-between;
  }
}

.header-hamburger {
  position: relative;
  z-index: 999;
  width: 6.25rem;
  height: 6.25rem;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  padding: 0;
  outline: none;
  border: none;
  align-self: center;
}

.header-hamburger.is-open {
  background-color: transparent;
}

.header-hamburger-bar {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 3.125rem;
  height: 3px;
  background-color: #3A3838;
  transition: 0.5s;
}

.header-hamburger span:nth-of-type(1) {
  top: -1.25rem;
}

.header-hamburger span:nth-of-type(2) {
  top: -0.9375rem;
}

.header-hamburger span:nth-of-type(3) {
  top: 0;
}

.header-hamburger span:nth-of-type(4) {
  top: 0.9375rem;
}

.header-hamburger.is-open span:nth-of-type(2) {
  top: 0;
  transform: translateX(-50%) rotate(45deg);
}

.header-hamburger.is-open span:nth-of-type(3) {
  opacity: 0;
}

.header-hamburger.is-open span:nth-of-type(4) {
  top: -5px;
  transform: translateX(-50%) rotate(-45deg);
}

.header-hamburger-text {
  position: relative;
  text-transform: uppercase;
  font-size: max(12px, 1rem);
}

.header-nav {
  margin-top: auto;
}
@media screen and (max-width: 767px) {
  .header-nav {
    height: inherit;
  }
}
@media screen and (max-width: 599px) {
  .header-nav {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-nav-items {
    height: inherit;
    display: flex;
  }
}

.header-nav-item {
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .header-nav-item {
    align-self: center;
    max-width: none;
  }
}

.header-nav-item + .header-nav-item {
  margin-top: 1.25rem;
}
@media screen and (max-width: 767px) {
  .header-nav-item + .header-nav-item {
    margin-top: 0rem;
    margin-left: 0.625rem;
  }
}

.header-nav-item a {
  background-color: #ffffff;
  display: block;
  width: 4.375rem;
  aspect-ratio: 1/1;
  border: 3px solid #3A3838;
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .header-nav-item a {
    width: 5rem;
  }
}

.header-nav-item img {
  max-width: 2.625rem;
  width: 100%;
}

.header-drawer {
  position: absolute;
  z-index: 900;
  top: 0;
  bottom: 0;
  left: -50vw;
  width: 50vw;
  height: 100vh;
  background-color: #FFD600;
  overflow-y: scroll;
  scrollbar-width: none;
  transition: 0.6s;
}
@media screen and (max-width: 767px) {
  .header-drawer {
    left: -100vw;
    width: 100vw;
  }
}

.header-drawer::-webkit-scrollbar {
  display: none;
}

.header-drawer-noscroll {
  overflow: hidden;
}

.header-drawer.is-open {
  left: 0;
  transition: 0.6s;
}

.header-drawer-nav {
  margin-top: 6.25rem;
  margin-left: 9.375rem;
  height: 100%;
}

.header-drawer-item a {
  padding: 0.9375rem 0;
  display: inline-block;
  font-size: 2.25rem;
  line-height: 1;
  color: #3A3838;
  text-align: center;
  text-transform: uppercase;
}

.header-drawer-item-sns {
  margin-top: 5.25rem;
  display: flex;
  gap: 1.25rem;
}
.header-drawer-item-sns .header-nav-item + .header-nav-item {
  margin-top: 0;
}
.header-drawer-item-sns .header-nav-item {
  margin: 0;
}

.header-drawer-item-tel a {
  font-size: 3rem;
}
@media (min-width: 751px) {
  .header-drawer-item-tel a {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}

.header-drawer-item-tel span {
  font-size: 2rem;
  margin-right: 0.625rem;
}

.main {
  margin-left: 6.25rem;
}
@media screen and (max-width: 767px) {
  .main {
    margin-left: 0rem;
  }
}

.mv {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/common/mv.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .mv {
    height: 37.5rem;
  }
}

.mv-inner {
  height: inherit;
}
@media screen and (max-width: 767px) {
  .mv-inner {
    padding: 0 3.125rem;
  }
}

.mv-content {
  height: inherit;
  display: grid;
  place-content: center;
}

.mv-title {
  text-transform: uppercase;
  font-family: "Raleway", serif;
  font-size: 10rem;
  font-size: clamp(5.625rem, -10rem + 16.6666666667vw, 10rem);
  line-height: 1.2;
  text-align: center;
  border-bottom: 5px solid #fff;
  color: #fff;
  padding-bottom: 2.6041666667%;
}
@media screen and (max-width: 1023px) {
  .mv-title {
    border-bottom: 3px solid #fff;
  }
}
@media screen and (max-width: 767px) {
  .mv-title {
    font-size: 6.25rem;
    font-size: clamp(1rem, -1.4161073826rem + 12.0805369128vw, 4.375rem);
    border-bottom: 2px solid #fff;
  }
}

.mv-title span {
  color: #FFD600;
  font-size: 4.6875rem;
  font-size: clamp(3.125rem, -2.4553571429rem + 5.9523809524vw, 4.6875rem);
  display: block;
}
@media screen and (max-width: 767px) {
  .mv-title span {
    font-size: clamp(1rem, -0.0738255034rem + 5.3691275168vw, 2.5rem);
  }
}

.mv-text {
  margin-top: 4.375rem;
  font-size: 2.5rem;
  font-size: clamp(1.6875rem, -1.2142857143rem + 3.0952380952vw, 2.5rem);
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 1023px) {
  .mv-text {
    margin-top: 3.125rem;
  }
}
@media screen and (max-width: 767px) {
  .mv-text {
    font-size: clamp(1rem, 0.3736017897rem + 3.1319910515vw, 1.875rem);
    margin-top: 1.25rem;
  }
}

.section-title-en-right {
  text-transform: uppercase;
  color: #E8E8E8;
  font-size: 9.375rem;
  font-size: clamp(5rem, -10.625rem + 16.6666666667vw, 9.375rem);
  writing-mode: vertical-lr;
  font-family: "Raleway", serif;
  position: absolute;
  top: 7.5rem;
  right: clamp(0rem, -21.25rem + 21.25vw, 4.25rem);
}
@media screen and (max-width: 1499px) {
  .section-title-en-right {
    writing-mode: horizontal-tb;
    position: static;
  }
}

.section-title-en-left {
  text-transform: uppercase;
  color: #E8E8E8;
  font-size: clamp(5rem, -10.625rem + 16.6666666667vw, 9.375rem);
  writing-mode: vertical-lr;
  font-family: "Raleway", serif;
  position: absolute;
  top: 7.5rem;
  left: clamp(0rem, -21.25rem + 21.25vw, 4.25rem);
}
@media screen and (max-width: 1499px) {
  .section-title-en-left {
    writing-mode: horizontal-tb;
    position: static;
  }
}

.section-title-en-right span,
.section-title-en-left span {
  color: rgba(255, 214, 0, 0.25);
}

.section-title-ja {
  font-size: 4.375rem;
  font-size: clamp(3.125rem, -1.3392857143rem + 4.7619047619vw, 4.375rem);
  font-family: "Noto Sans JP", sans-serif;
  color: #FFD600;
}
@media screen and (max-width: 767px) {
  .section-title-ja {
    font-size: clamp(1.875rem, 0.0813137755rem + 7.6530612245vw, 3.75rem);
  }
}

.button-read {
  display: inline-block;
  text-align: center;
  max-width: 31.25rem;
  width: 100%;
  padding: 1.25rem 0;
  font-size: 1.5rem;
  font-family: "Raleway", serif;
  color: #F0F0F0;
  background: #3A3838;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
}
@media screen and (max-width: 1023px) {
  .button-read {
    max-width: 25rem;
  }
}

.button-read span {
  position: relative;
  z-index: 1;
}

.button-read:hover {
  color: #3A3838;
}

.button-read:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 690%;
  width: 140%;
  background: #FFD600;
  transition: all 0.3s ease-in-out;
  transform: translateX(-85%) translateY(-27%) rotate(45deg);
}
@media screen and (max-width: 1023px) {
  .button-read:after {
    transform: translateX(-94%) translateY(-27%) rotate(45deg);
  }
}

.button-read:hover:after {
  transform: translateX(-9%) translateY(-27%) rotate(45deg);
}

.concept {
  background-image: url(../images/common/concept-bg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 7.5rem;
  padding-bottom: 10.625rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  .concept {
    padding-top: 4.375rem;
    padding-bottom: 9.375rem;
  }
}

@media screen and (max-width: 1499px) {
  .concept-inner {
    max-width: 98.4375rem;
  }
}
@media screen and (max-width: 767px) {
  .concept-inner {
    max-width: 62.5rem;
  }
}

.section-title-ja {
  line-height: 1.2;
}

.concept-text {
  margin-top: 4.1875rem;
  font-size: 1.5rem;
}
.concept-text span {
  font-size: 2rem;
}

.concept-img {
  margin-top: 5.0625rem;
  max-width: 51.1875rem;
  position: relative;
  margin-left: auto;
  z-index: 0;
  right: 2.9625rem;
}
@media screen and (max-width: 767px) {
  .concept-img {
    margin-left: 2.9625rem;
    max-width: 100%;
  }
}

.concept-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FFD600;
  top: 3.125rem;
  left: 2.9625rem;
  z-index: -1;
}

.service {
  background: #FFFBE6;
  position: relative;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
@media screen and (max-width: 767px) {
  .service {
    padding-top: 4.375rem;
    padding-bottom: 6.25rem;
  }
}

@media screen and (max-width: 1499px) {
  .service-inner {
    max-width: 98.4375rem;
  }
}
@media screen and (max-width: 767px) {
  .service-inner {
    max-width: 62.5rem;
  }
}

.service-img-first {
  margin-top: 4.1875rem;
  display: flex;
  justify-content: center;
  gap: 4.6875rem;
}
@media screen and (max-width: 1023px) {
  .service-img-first {
    gap: 3.125rem;
  }
}
.service-img-link {
  display: block;
  max-width: 21.875rem;
  width: 100%;
  aspect-ratio: 1/1;
  transition: 0.3s;
  position: relative;
}
@media screen and (max-width: 1023px) {
  .service-img-link {
    max-width: 17.5rem;
  }
}

.service-img-item img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.service-img-mask {
  max-width: 21.875rem;
  width: 100%;
  aspect-ratio: 1/1;
  background: #FFD600;
  border-radius: 50%;
  font-size: 3rem;
  text-align: center;
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.3s;
}
@media screen and (max-width: 1023px) {
  .service-img-mask {
    font-size: 1.875rem;
  }
}

.service-img-mask::after {
  content: "";
  display: block;
  width: 6.25rem;
  height: 0.1875rem;
  background: #3A3838;
  margin-inline: auto;
  margin-top: 1.5625rem;
}

.service-img-item:hover .service-img-mask {
  opacity: 1;
}

.service-img-second {
  margin-top: 4.6875rem;
  display: flex;
  justify-content: center;
  gap: 4.6875rem;
}
@media screen and (max-width: 1023px) {
  .service-img-second {
    margin-top: 3.75rem;
    gap: 3.125rem;
  }
}
.service-button {
  margin-top: 4.6875rem;
  text-align: center;
}

.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/common/contact.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 9.375rem 0 9.5625rem;
}

.contact-inner {
  max-width: 87.5rem;
  padding: 0 1.5625rem;
  margin-inline: auto;
  color: #fff;
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .contact-inner {
    max-width: 62.5rem;
  }
}

.contact-title {
  font-size: clamp(3.75rem, 1.5178571429rem + 2.380952381vw, 4.375rem);
  text-align: center;
}
@media screen and (max-width: 767px) {
  .contact-title {
    font-size: 2.5rem;
  }
}

.contact-text {
  margin-top: 4.1875rem;
  font-size: 1.5rem;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  .contact-text {
    margin-top: 2.5rem;
  }
}

.contact-button-content {
  margin-top: 3.6875rem;
  display: flex;
  gap: 6.25rem;
}
@media screen and (max-width: 599px) {
  .contact-button-content {
    flex-direction: column;
    gap: 3.75rem;
  }
}

.contact-button {
  display: block;
  padding: 1.25rem 0;
  max-width: 40.625rem;
  width: 100%;
  border: 2px solid #fff;
  font-size: 1.5rem;
  text-align: center;
  transition: 0.3s;
}
@media screen and (max-width: 599px) {
  .contact-button {
    margin-inline: auto;
    max-width: 25rem;
  }
}

.contact-button:hover {
  background: #3A3838;
}

.news {
  padding-top: 7.5rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  .news {
    padding-top: 4.375rem;
  }
}

@media screen and (max-width: 1499px) {
  .news-inner {
    max-width: 98.4375rem;
  }
}
@media screen and (max-width: 767px) {
  .news-inner {
    max-width: 62.5rem;
  }
}

.news-list {
  margin-top: 2.9375rem;
}

.news-list-item {
  border-bottom: 1px solid #000;
}

.news-list-item a {
  padding: 1.25rem 0;
  display: block;
}

.news-list-meta {
  display: flex;
  align-items: center;
}

.news-list-date {
  font-size: 1.2rem;
  font-family: "Raleway", serif;
  color: #C5C0C0;
  margin-left: 1.25rem;
}

.news-list-category {
  padding: 0.3125rem;
  min-width: 5.25rem;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
  color: #fff;
  background-color: #FFD600;
  text-align: center;
}

.news-list-date span {
  color: #FFD600;
}

.news-list-title {
  margin-top: 1.25rem;
  font-size: 1.5rem;
}

.news-button {
  text-align: center;
  margin-top: 4.6875rem;
}

.footer {
  position: relative;
}

.footer-access {
  position: relative;
}

.footer-accsec-body {
  font-style: normal;
}

.footer-access-title .section-title-en-right {
  color: #6C6969;
}
@media screen and (max-width: 1499px) {
  .footer-access-title .section-title-en-right {
    position: absolute;
    writing-mode: vertical-lr;
  }
}
@media screen and (max-width: 767px) {
  .footer-access-title .section-title-en-right {
    top: 5rem;
  }
}

.footer-access-title .section-title-en-right span {
  color: #FFD600;
}

.footer-map iframe {
  width: 100%;
  height: 50rem;
}
@media screen and (max-width: 767px) {
  .footer-map iframe {
    height: 31.25rem;
  }
}

.footer-adress {
  padding: 7.5rem 0 7.75rem;
  background: #3A3838;
  color: #fff;
}

.footer-adress-inner {
  max-width: 87.5rem;
  padding: 0 1.5625rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .footer-adress-inner {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .footer-adress-content {
    margin-inline: auto;
  }
}

.footer-adress-body {
  margin-top: 2.625rem;
  display: block;
  font-style: normal;
}

.footer-adress-name {
  font-size: 3.125rem;
}

.footer-adress-post {
  font-size: 1.5rem;
}

.footer-adress-text {
  font-size: 1.75rem;
}

.footer-adress-tel {
  margin-top: 1.0625rem;
  font-size: 2.25rem;
}

.footer-adress-tel span {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.footer-copy {
  font-size: 1rem;
  font-weight: 400;
  margin-top: auto;
}
@media screen and (max-width: 1023px) {
  .footer-copy {
    margin-top: 3.75rem;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-adress-mark {
    display: none;
  }
}

.construction {
  padding: 7.5rem 0;
  position: relative;
}

.construction::before {
  content: "";
  display: block;
  width: 100%;
  height: 54.375rem;
  background: #FFFBE6;
  -webkit-clip-path: polygon(0 72%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 72%, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 1499px) {
  .construction-inner {
    max-width: 98.4375rem;
  }
}
@media screen and (max-width: 767px) {
  .construction-inner {
    max-width: 62.5rem;
  }
}

@media screen and (max-width: 599px) {
  .construction-title .section-title-en-left {
    font-size: 4.375rem;
  }
}

.construction-lists {
  margin-top: 4.1875rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.construction-list {
  display: inline-block;
  padding: 0.3125rem 1.5625rem;
  background: #3A3838;
  color: #fff;
  border-radius: 3.125rem;
  text-align: center;
  font-size: 1.2rem;
}

.construction-swiper {
  margin-top: 3rem;
}

.construction-slide {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 599px) {
  .construction-slide {
    flex-direction: column;
  }
}

.swiper-slide img {
  width: 66.6666666667%;
  aspect-ratio: 800/500;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: -12.5rem;
}
@media screen and (max-width: 1499px) {
  .swiper-slide img {
    margin-right: -18.75rem;
  }
}
@media screen and (max-width: 1023px) {
  .swiper-slide img {
    width: 75%;
  }
}
@media screen and (max-width: 599px) {
  .swiper-slide img {
    width: 100%;
    margin-right: 0rem;
  }
}

.construction-body {
  width: 50%;
  padding-left: 3.5625rem;
  padding-right: 3.125rem;
  margin-top: 6.25rem;
  background: rgba(255, 214, 0, 0.7);
}
@media screen and (max-width: 1499px) {
  .construction-body {
    margin-top: 18.75rem;
    padding: 1.25rem 3.125rem;
    display: grid;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .construction-body {
    padding: 1.25rem 1.875rem;
  }
}
@media screen and (max-width: 599px) {
  .construction-body {
    margin-top: 0rem;
    width: 100%;
    padding: 1.25rem 1.875rem;
  }
}

.construction-list.swiper-list {
  margin-top: 7.9375rem;
  border-radius: 0;
}
@media screen and (max-width: 1499px) {
  .construction-list.swiper-list {
    margin-top: 0rem;
  }
}
@media screen and (max-width: 599px) {
  .construction-list.swiper-list {
    margin-top: 0rem;
  }
}

.construction-area {
  margin-top: 0.4375rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.construction-subtitle {
  font-size: 2.25rem;
}
@media screen and (max-width: 1023px) {
  .construction-subtitle {
    font-size: 1.875rem;
  }
}

.construction-subtitle::after {
  content: "";
  display: block;
  width: 15.625rem;
  height: 0.1875rem;
  background: #3A3838;
  margin-top: 1.25rem;
}

.construction-body-button {
  margin-top: 3.375rem;
  font-size: 1.2rem;
  font-family: "Raleway", serif;
  display: block;
  text-align: right;
}
@media screen and (max-width: 1023px) {
  .construction-body-button {
    margin-top: 1.25rem;
  }
}
@media screen and (max-width: 599px) {
  .construction-body-button {
    margin-top: 1.25rem;
  }
}

.construction-body-button::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  display: inline-block;
  transform: rotate(45deg);
  bottom: 0.5rem;
  margin-left: 0.625rem;
}

.construction-swiper-thumbnail {
  margin-top: 3.125rem;
}

.construction-slide-thumbnail {
  cursor: pointer;
}

.construction-slide-thumbnail::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}

.construction-slide-thumbnail.swiper-slide-thumb-active::before {
  background-color: initial;
}

.construction-slide-thumbnail img {
  aspect-ratio: 262.5/200;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.construction-button {
  margin-top: 4.6875rem;
  text-align: center;
}

.construction-swiper-thumbnail .swiper-scrollbar {
  display: none;
}
@media screen and (max-width: 599px) {
  .construction-swiper-thumbnail .swiper-scrollbar {
    display: block;
    position: relative;
    margin-top: 1.875rem;
  }
}

.sub-mv {
  height: 50rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/common/sub-mv.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .sub-mv {
    height: 37.5rem;
  }
}

.sub-mv-inner {
  height: inherit;
}

.sub-mv-content {
  height: inherit;
  display: grid;
  place-content: center;
}

.sub-mv-title {
  font-size: 5.125rem;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .sub-mv-title {
    font-size: 3.5rem;
  }
}

.sub-mv-title-yellow {
  color: #FFD600;
}

.sub-mv-title-en {
  display: block;
  font-size: 3rem;
  font-family: "Raleway", serif;
  text-transform: uppercase;
  margin-top: 1.875rem;
}

.sub-mv-title::after {
  content: "";
  display: block;
  width: 6.25rem;
  height: 0.3125rem;
  background: #fff;
  margin-inline: auto;
  margin-top: 1.875rem;
}

.greeting {
  position: relative;
  padding-top: 7.5rem;
  padding-bottom: 8.6875rem;
}
@media screen and (max-width: 767px) {
  .greeting {
    padding-top: 4.375rem;
    padding-bottom: 6.25rem;
  }
}

@media screen and (max-width: 1499px) {
  .greeting-inner {
    max-width: 98.4375rem;
  }
}
@media screen and (max-width: 767px) {
  .greeting-inner {
    max-width: 62.5rem;
  }
}

.greeting-text {
  margin-top: 4.1875rem;
  font-size: 1.5rem;
}

.greeting-sign {
  margin-top: 2.625rem;
  margin-left: auto;
  width: -moz-fit-content;
  width: fit-content;
}

.greeting-post {
  font-size: 1.5rem;
  font-family: "Noto Serif", serif;
}

.greeting-name {
  font-size: 3rem;
  font-family: "Noto Serif", serif;
}

.overview {
  padding: 7.5rem 0;
  background: #FFFBE6;
  position: relative;
}
@media screen and (max-width: 767px) {
  .overview {
    padding-top: 4.375rem;
    padding-bottom: 6.25rem;
  }
}

@media screen and (max-width: 1499px) {
  .overview-inner {
    max-width: 98.4375rem;
  }
}
@media screen and (max-width: 767px) {
  .overview-inner {
    max-width: 62.5rem;
  }
}

.overview-profile {
  margin-top: 2.625rem;
}

.overview-profile-list {
  padding: 1.5625rem 0;
  display: flex;
  font-size: 1.5rem;
  border-bottom: 1px dotted #FFD600;
}

.overview-profile-term {
  max-width: 18.125rem;
  width: 100%;
  margin-left: 1.875rem;
  flex-shrink: 0;
}
@media screen and (max-width: 1499px) {
  .overview-profile-term {
    max-width: 12.5rem;
  }
}
@media screen and (max-width: 767px) {
  .overview-profile-term {
    max-width: 8.75rem;
  }
}

.history {
  padding: 7.5rem 0;
  position: relative;
}

@media screen and (max-width: 1499px) {
  .history-inner {
    max-width: 98.4375rem;
  }
}

.history-wrapper {
  max-width: 90.625rem;
  padding: 0 1.5625rem;
  margin-inline: auto;
  margin-top: 4.1875rem;
}

.history-list {
  margin-left: 6rem;
}
@media screen and (max-width: 1499px) {
  .history-list {
    position: relative;
  }
}

.history-list::before {
  content: "";
  position: absolute;
  left: calc(50% - 43.75rem);
  width: 0.25rem;
  height: 95%;
  background: #FFD600;
  top: 0rem;
  z-index: 1;
}
@media screen and (max-width: 1499px) {
  .history-list::before {
    left: 3.75rem;
  }
}

.history-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.5rem;
}

.history-list-item:nth-of-type(2),
.history-list-item:nth-of-type(10),
.history-list-item:nth-of-type(12) {
  margin-top: 3.125rem;
}

.history-list-item:nth-of-type(3),
.history-list-item:nth-of-type(13) {
  margin-top: 1.25rem;
}

.history-list-item:nth-of-type(4),
.history-list-item:nth-of-type(6),
.history-list-item:nth-of-type(8) {
  margin-top: 6.25rem;
}

.history-list-item:nth-of-type(5),
.history-list-item:nth-of-type(11) {
  margin-top: 1.875rem;
}

.history-list-item:nth-of-type(7) {
  margin-top: 4.375rem;
}

.history-list-item:nth-of-type(9) {
  margin-top: 5rem;
}

.history-list-item:nth-of-type(2) {
  margin-top: 3.125rem;
}

.history-list-term {
  font-size: 1.5rem;
  position: relative;
}

.history-list-term::after {
  content: "";
  position: absolute;
  top: 25%;
  left: -6.25rem;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background: #3A3838;
}

.history-list-term::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -6.25rem;
  width: 6.25rem;
  height: 0.0625rem;
  background: #3A3838;
}

.history-list-description {
  margin-left: 1.875rem;
}

.wp-pagenavi {
  display: flex;
  clear: both;
  text-align: center;
  justify-content: center;
}

.pagenavi-numbers {
  display: flex;
  gap: 1.875rem;
}

.pagenavi .wp-pagenavi a,
.pagenavi .wp-pagenavi span {
  display: grid;
  place-content: center;
  height: 3.625rem;
  width: 3.375rem;
  font-size: 1.5rem;
  font-family: "Raleway", serif;
  color: #3A3838;
  border: 3px solid #3A3838;
  background-color: #fff;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .pagenavi .wp-pagenavi a,
  .pagenavi .wp-pagenavi span {
    border: 1px solid #3A3838;
  }
}

.pagenavi .wp-pagenavi a:hover {
  color: #fff;
  background-color: #3A3838;
  opacity: 1;
}

.pagenavi .wp-pagenavi .current {
  color: #fff;
  background-color: #3A3838;
}

.page-news {
  padding: 7.5rem 0;
  position: relative;
}

@media screen and (max-width: 1499px) {
  .page-news-inner {
    max-width: 98.4375rem;
  }
}
@media screen and (max-width: 767px) {
  .page-news-inner {
    max-width: 62.5rem;
  }
}

.page-news-pagenavi {
  margin-top: 4.6875rem;
}

.page-construction.construction::before {
  display: none;
}

@media screen and (max-width: 599px) {
  .page-construction-inner {
    max-width: 50rem;
  }
}

@media screen and (max-width: 599px) {
  .page-construction-title .section-title-en-left {
    font-size: clamp(2.1875rem, -0.2958185053rem + 12.4555160142vw, 4.375rem);
  }
}

.page-construction-lists.construction-lists {
  margin-top: 3.4375rem;
}

.page-construction-tabs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 3.125rem;
  place-content: center;
  font-size: 1.2rem;
  margin-top: 3.4375rem;
}
@media screen and (max-width: 599px) {
  .page-construction-tabs {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.25rem;
  }
}

.page-construction-tab {
  text-align: center;
  transition: 0.3s;
}

.page-construction-tab.is-active {
  color: #FFD600;
}

.page-construction-tab:hover {
  color: #FFD600;
}

.page-construction-tab {
  border-right: 2px solid #D1D1D1;
}

.page-construction-tab:last-child {
  border-right: none;
}

@media screen and (max-width: 599px) {
  .page-construction-tab:nth-child(3) {
    border-right: none;
  }
}

.page-construction-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.25rem;
  margin-top: 3.4375rem;
}
@media screen and (max-width: 1023px) {
  .page-construction-items {
    gap: 3.75rem;
  }
}
@media screen and (max-width: 767px) {
  .page-construction-items {
    gap: 2.5rem;
  }
}
@media screen and (max-width: 599px) {
  .page-construction-items {
    grid-template-columns: auto;
  }
}

.page-construction-item {
  position: relative;
}

.page-construction-content-img img {
  aspect-ratio: 550/350;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-construction-category {
  font-size: 1.2rem;
  padding: 0.3125rem 1.5625rem;
  background: #FFD600;
  display: inline-block;
  position: absolute;
  top: 3.125rem;
  left: 0;
}

.page-construction-text {
  background: rgba(255, 214, 0, 0.7);
  padding: 1.875rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0; /* 初期状態は透明 */
  -webkit-clip-path: inset(100% 0 0 0);
          clip-path: inset(100% 0 0 0); /* 下から隠す */
  transition: opacity 0.3s ease-out, -webkit-clip-path 0.3s ease-out;
  transition: clip-path 0.3s ease-out, opacity 0.3s ease-out;
  transition: clip-path 0.3s ease-out, opacity 0.3s ease-out, -webkit-clip-path 0.3s ease-out;
}
@media screen and (max-width: 1023px) {
  .page-construction-text {
    opacity: 1;
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0); /* 全体を表示 */
    padding: 1.25rem;
  }
}

.page-construction-item:hover .page-construction-text {
  opacity: 1;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0); /* 全体を表示 */
}

.page-construction-subtitle {
  font-size: 1.5rem;
}
@media screen and (max-width: 1023px) {
  .page-construction-subtitle {
    font-size: 1.25rem;
  }
}

.page-construction-read.construction-body-button {
  margin-top: 0rem;
}

.page-construction-pagenavi {
  margin-top: 6.25rem;
}

.page-contact {
  padding: 7.5rem 0;
  position: relative;
}

@media screen and (max-width: 1499px) {
  .page-contact-inner {
    max-width: 93.75rem;
  }
}
@media screen and (max-width: 767px) {
  .page-contact-inner {
    max-width: 62.5rem;
  }
}

.page-contact-read {
  margin-top: 2.75rem;
}

.form {
  margin-top: 2.5rem;
}

.form-wrap {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .form-wrap {
    flex-direction: column;
    align-items: normal;
  }
}

.form-wrap.form-wrap--textarea {
  align-items: flex-start;
}

.form-wrap + .form-wrap {
  margin-top: 2.5rem;
}

.form-label {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  width: 100%;
  max-width: 16.875rem;
}
@media screen and (max-width: 767px) {
  .form-label {
    max-width: 100%;
  }
}

.form-label span {
  margin-left: auto;
  padding: 0.625rem 1.25rem;
  display: inline-block;
  font-size: 1.25rem;
  background-color: #FFD600;
  border: 2px solid #3A3838;
}
@media screen and (max-width: 767px) {
  .form-label span {
    margin-left: 1.25rem;
  }
}

@media screen and (max-width: 767px) {
  .form-input,
  .form-textarea {
    margin-top: 0.9375rem;
    width: 100%;
  }
}

.form-input,
.form-textarea {
  flex-grow: 1;
  margin-left: 1.875rem;
}
@media screen and (max-width: 767px) {
  .form-input,
  .form-textarea {
    margin-left: 0rem;
  }
}

.form-input input {
  height: 3.125rem;
  padding: 0.25rem 0.9375rem;
  width: 100%;
  border-radius: 0.625rem;
  border: 3px solid #D9D9D9;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media screen and (max-width: 1023px) {
  .form-input input {
    border-radius: 0.3125rem;
  }
}

.form-input input:focus {
  border: 2px solid #3A3838;
  box-shadow: none;
  outline: none;
}

.form-select {
  margin-left: 1.875rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  .form-select {
    margin-top: 0.9375rem;
    margin-left: 0rem;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.form-select select {
  text-align: center;
  width: 28.125rem;
  height: 3.125rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.625rem;
  border: 3px solid #D9D9D9;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .form-select select {
    border-radius: 0.3125rem;
    font-size: 1.125rem;
  }
}

.form-select::after {
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  display: inline-block;
  transform: rotate(135deg);
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}

/* IEで矢印を消す */
/* 選択時の枠線の色を変える */
.form-select select:focus {
  border: 2px solid #3A3838;
  box-shadow: none;
  outline: none;
}

.form-textarea textarea {
  height: 15.625rem;
  padding: 0.5rem 0.9375rem;
  width: 100%;
  border-radius: 0.625rem;
  border: 3px solid #D9D9D9;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media screen and (max-width: 1023px) {
  .form-textarea textarea {
    border-radius: 0.3125rem;
  }
}

.form-textarea textarea:focus {
  border: 2px solid #3A3838;
  box-shadow: none;
  outline: none;
}

.form-privacy {
  font-size: 1.5rem;
  margin-top: 2.5rem;
  position: relative;
  padding-left: 2.5rem;
}

.form-privacy input {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  top: 0rem;
  left: 0;
  margin: 0;
}

.form-privacy input + span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border: 1px solid #808080;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
}

.form-privacy input + span::after {
  content: "";
  margin-top: -0.125rem;
  position: absolute;
  top: 0.5rem;
  left: 0.3125rem;
  transform: rotate(-45deg);
  display: block;
  width: 1.125rem;
  height: 0.625rem;
  border-bottom: 0.1875rem solid #333;
  border-left: 0.1875rem solid #333;
  transition: 0.3s;
  opacity: 0;
}

.form-privacy input:checked + span::after {
  opacity: 1;
}

.form-privacy input + span a {
  text-decoration: underline;
}

.form-submit {
  margin-top: 2.875rem;
  text-align: center;
  width: 100%;
  height: 4.0625rem;
  position: relative;
}

.form-submit input {
  display: inline-block;
  font-size: 1.5rem;
  background-color: #FFD600;
  color: #3A3838;
  width: 100%;
  height: 100%;
  border: 2px solid #3A3838;
  transition: 0.3s;
  opacity: 0.3;
}
.form-submit input.form-submit-active {
  opacity: 1;
}

.form-submit input.form-submit-active:hover {
  opacity: 0.7;
  cursor: pointer;
}

.form-submit input:hover,
.form-submit input:focus {
  outline: none;
}

.form-submit input::-moz-foucus-inner {
  padding: 0;
  border: none;
}

/* オートフィルで入力後の水色背景を変える */
input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #fff inset;
}

.reason {
  position: relative;
}

.reason-text {
  margin-top: 3.125rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.reason-content {
  margin-top: 6.25rem;
}

.reason-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.3125rem;
}

.reason-item-number {
  font-size: 3rem;
  font-family: "Raleway", serif;
  text-align: center;
}

.reason-item-number span {
  font-size: 6rem;
  color: #FFD600;
}

.reason-item-content {
  background: #F4F3F3;
}

.reason-item-img {
  padding: 4.375rem 6.375rem 0;
  text-align: center;
}

.reason-item-img img {
  max-width: 9.375rem;
  width: 100%;
  display: inline-block;
}

.reason-item-body {
  margin-top: 3.125rem;
  padding: 0 1.25rem 3.125rem;
}

.reason-item-title {
  font-size: 2.25rem;
  text-align: center;
}

.reason-item-text {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 0.875rem;
}

.top-fv h3 {
  font-size: 3.125rem;
}/*# sourceMappingURL=styles.css.map */