/* リキッドレイアウト対応のための設定 */
@use "../global" as *;

html {

  //スマホファースト
  @if $startFrom ==sp {

    // 375px以下
    @media (max-width: 375px) {
      font-size: vw(375, strip-unit($base-font-size));
    }

    // 375px〜767px
    font-size: $base-font-size;

    // 768px〜inner
    @include mq("md") {
      font-size: vw(strip-unit($inner), strip-unit($base-font-size));
    }

    //inner以上
    @media (min-width: $inner) {
      font-size: $base-font-size;
    }

  }

  @else {
    //PCファースト
    // 768px〜
    font-size: calc($base-font-size / 1.5);


    // 1500px以上
    @media (min-width: 1500px) {
      font-size: $base-font-size ;
    }

    // 768px〜inner
    // @media (max-width: $inner) {
    //   font-size: vw(strip-unit($inner), strip-unit($base-font-size));
    // }


    // 375px〜767px
    @include mq("md") {
      font-size: calc($base-font-size / 1.5 * 0.9);
    }

    // 375px以下
    @media (max-width: 375px) {
    //   font-size: vw(375, strip-unit($base-font-size));
      // font-size: vw(375, strip-unit(calc($base-font-size / 1.5) * 0.9));

    }
  }
}

body {
  font-family: $font-family-base;
  font-weight: $bold;
  color: $black;
}

/* aタグのスタイルリセット*/
a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}

/* マウスホバー*/
a:hover {
  @if $startFrom ==sp {
    @include mq("md") {
      opacity: 0.8;
    }
  }

  @else {
    opacity: 0.8;

    @include mq("md") {
      opacity: 1;
    }
  }


}