@use "../global" as *;

.button-read {
  // display: flex;
  // align-items: center;
  // text-align: center;
  // justify-content: center;

  display: inline-block;
  text-align: center;
  max-width: rem(500);
  width: 100%;
  padding: rem(20) 0;
  font-size: rem(24);
  font-weight: $bold;
  font-family: $font-family-en;
  color: #F0F0F0;
  background: $black;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  @include mq(lg) {
    max-width: rem(400); 
  }
}

.button-read span {
  position: relative;
  z-index: 1;
}

.button-read:hover {
  // background: $yellow;
  color: $black;
}

.button-read:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 690%;
  width: 140%;
  background: $yellow;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: translateX(-85%) translateY(-27%) rotate(45deg);
  transform: translateX(-85%) translateY(-27%) rotate(45deg);
  @include mq(lg) {
    -webkit-transform: translateX(-94%) translateY(-27%) rotate(45deg);
  transform: translateX(-94%) translateY(-27%) rotate(45deg);
      
  }
}

.button-read:hover:after {
  -webkit-transform: translateX(-9%) translateY(-27%) rotate(45deg);
  transform: translateX(-9%) translateY(-27%) rotate(45deg);
}
