@use "../global" as *;

.concept {
  background-image: url(../images/common/concept-bg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.concept-body {
  margin-top: rem(50);
  font-size: rem(24);
}

.concept-text + .concept-text {
  margin-top: rem(20);
}

.concept-text span {
  display: block;
  font-size: rem(32);
}

.concept-img {
  margin-top: rem(75);
  max-width: rem(819);
  position: relative;
  margin-left: auto;
  z-index: 0;
  right: rem(47.4);
  @include mq(md) {
      margin-left: rem(47.4);
      max-width: 100%;

  }
}

.concept-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: $yellow;
  top: rem(50);
  left: rem(47.4);
  z-index: -1;
}
