@use "../global" as *;

.footer {
  position: relative;
}

.footer-access {
  position: relative;
}

.footer-accsec-body {
  font-style:normal;
}

.footer-access-title .section-title-en-right {
  color: #6C6969;
  right: rclamp(30, 70, 1500, 1920);
  @include mq(xl) {
    position: absolute;
    writing-mode: vertical-lr;
    // right: rem(30);
  }
  @include mq(md) {
      top: rem(80);
  }
}

.footer-access-title .section-title-en-right span {
  color: $yellow;
}

.footer-map {
  width: 100%;
  height: rem(800);
  @include mq(md) {
      height: rem(500);
  }
}

.footer-map iframe {
  width: 100%;
  height: 100%
}

.footer-adress {
  background: $black;
  color: #fff;
}

.footer-adress-inner {
  max-width: rem(1450);
  display: flex;
  justify-content: space-between;
  @include mq(lg) {
      flex-direction: column;
  }
}

.footer-adress-content {
  @include mq(md) {
      margin-inline: auto;
  }
}
.footer-adress-body {
  margin-top: rem(42);
  display: block;
  font-style:normal;
}

.footer-adress-name {
  font-size: rem(50);
}

.footer-adress-post {
  font-size: rem(24);
}

.footer-adress-text {
  font-size: rem(28);
}

.footer-adress-tel {
  margin-top: rem(17);
  font-size: rem(36);
}

.footer-adress-tel span {
  font-size: rem(24);
  text-transform: uppercase;
}

.footer-copy {
  font-size: rem(16);
  font-weight: $regular;
  margin-top: auto;
  @include mq(lg) {
      margin-top: rem(60);
      text-align: center;
  }
}

.footer-adress-mark {
  @include mq(md) {
      display: none;;
  }
}