@use "../global" as *;

.greeting {
}

.greeting-inner {
  @include mq(xl) {
      max-width: rem(1575);
  }
  @include mq(md) {
      max-width: rem(1000);
  }
}


.greeting-body {
  margin-top: rem(50);
  font-size: rem(24);
}

.greeting-text + .greeting-text {
  margin-top: rem(20);
}

.greeting-sign {
  margin-top: rem(42);
  margin-left: auto;
  width: fit-content;
}

.greeting-post {
  font-size: rem(24);
  font-family: $font-family-sec;
}

.greeting-name {
  font-size: rem(48);
  font-family: $font-family-sec;
}

