@use "../global" as *;

.greeting {
}

.greeting-body {
  margin-top: rem(50);
  font-size: rem(24);
}

.greeting-text + .greeting-text {
  margin-top: rem(20);
}

.greeting-sign {
  margin-top: rem(42);
  margin-left: auto;
  width: fit-content;
}

.greeting-post {
  font-size: rem(24);
  font-family: $font-family-sec;
}

.greeting-name {
  font-size: rem(48);
  font-family: $font-family-sec;
}

