@use "../global" as *;

.history {
  padding: rem(120) 0;
  position: relative;

}

.history-inner {
  @include mq(xl) {
    max-width: rem(1575);
  }

}

.history-title {}

.history-wrapper {
  max-width: rem(1450);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  @include mq(xl) {
      position: relative;
      padding-bottom: rem(20);
  }
}

.history-wrapper::before {
  content: "";
  position: absolute;
  width: rem(4);
  height: 95%;
  background: $yellow;
  top: rem(0);
  z-index: 1;
  @include mq(xl) {
    // height: 100%;
    top: auto;
    bottom: rem(5);
  }
  @include mq(md) {
      // height: 100%;
  }
}

.history-list {
  position: relative;
  margin-left: rem(96);
  margin-top: rem(50);
  @include mq(xl) {
    position: relative;
  }
  @include mq(md) {
      margin-left: rem(60);
  }
}

.history-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: rem(24);
  position: relative;
  @include mq(md) {
      // flex-direction: column;
  }
}

.history-list-item:nth-of-type(2),
.history-list-item:nth-of-type(10),
.history-list-item:nth-of-type(12) {
  margin-top: rem(50);
}

.history-list-item:nth-of-type(3),
.history-list-item:nth-of-type(13) {
  margin-top: rem(20);
}

.history-list-item:nth-of-type(4),
.history-list-item:nth-of-type(6),
.history-list-item:nth-of-type(8) {
  margin-top: rem(100);
}

.history-list-item:nth-of-type(5),
.history-list-item:nth-of-type(11) {
  margin-top: rem(30);
}

.history-list-item:nth-of-type(7) {
  margin-top: rem(70);
}

.history-list-item:nth-of-type(9) {
  margin-top: rem(80);
}

.history-list-item:nth-of-type(2) {
  margin-top: rem(50);
}


.history-list-term {
  font-size: rem(24);
  position: relative;
  min-width: rem(85);
  @include mq(md) {
      min-width: rem(85);
  }
}

.history-list-term::after {
  content: "";
  position: absolute;
  top: 25%;
  left: rem(-101);
  width: rem(15);
  height: rem(15);
  border-radius: 50%;
  background: $black;
  @include mq(md) {
      left: rem(-65);
  }
}

.history-list-term::before {
  content: "";
  position: absolute;
  top: 50%;
  left: rem(-100);
  width: rem(100);
  height: rem(1);
  background: $black;
  @include mq(md) {
      width: rem(60);
      left: rem(-60);
  }
}

.history-list-description {
  margin-left: rem(30);
}




.history-img {
  margin-right: rem(100);
  @include mq(lg) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  @include mq(lg) {
      margin-right: rem(0);
      margin-left: rem(20);
  }
  @include mq(sm) {
      display: none;
  }
}

.history-img-top {
}

.history-img-top img {
  aspect-ratio: 445 / 381;
  max-width: rem(445);
  width: 100%;
  object-fit: cover;
}

.history-img-middle {
  margin-top: rem(86);

}

.history-img-middle img {
  aspect-ratio: 334 / 223;
  max-width: rem(334);
  width: 100%;
  object-fit: cover;
  margin-inline: auto;

}

.history-img-bottom {
  margin-top: rem(107);
}

.history-img-bottom img {
  aspect-ratio: 228 / 393;
  max-width: rem(228);
  width: 100%;
  object-fit: cover;
  margin-inline: auto;
}

