@use "../global" as *;

.mv {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../images/common/mv.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include mq(md) {
      height: rem(600);
  }
}

.mv-inner {
  height: inherit;
  @include mq(md) {
      padding: 0 rem(50)
  }
  // padding: 0 rem(184);
}

.mv-content {
  height: inherit;
  display: grid;
  place-content: center;

}

.mv-title {
  text-transform: uppercase;
  font-family: $font-family-en;
  font-size: rem(160);
  font-size: rclamp(90, 160, 1500, 1920);
  font-weight: $bold;
  line-height: 1.2;
  text-align: center;
  border-bottom: 5px solid #fff;
  color: #fff;
  padding-bottom: calc(50 / 1920 * 100%);
  @include mq(lg) {
    border-bottom: 3px solid #fff;
  }
  @include mq(md) {
      font-size: rem(100);
      font-size: rclamp(16, 70, 320, 767);
      border-bottom: 2px solid #fff;

  }
}

.mv-title span {
  color: $yellow;
  font-size: rem(75);
  font-size: rclamp(50, 75, 1500, 1920);
  display: block;
  @include mq(md) {
    font-size: rclamp(16, 40, 320, 767);

  }

}

.mv-text {
  margin-top: rem(70);
  font-size: rem(40);
  font-size: rclamp(27, 40, 1500, 1920);
  font-family: $font-family-base;
  font-weight: $bold;
  text-align: center;
  color: #fff;
  @include mq(lg) {
      margin-top: rem(50);
  }
  @include mq(md) {
    font-size: rclamp(16, 30, 320, 767);
    margin-top: rem(20);
  }
}

