@use "../global" as *;

.page-service-content {
  padding: rem(120) 0 ;
  position: relative;
}

.page-service-content-left {
  background: #FFFBE6;
}

.custom {}

.page-service-inner {}

.inner {}

.page-service-title {}

.section-title {}

.section-title-en-right {}

.section-title-ja {}

.page-service-body {
  margin-top: rem(50);
}

.page-seavice-body-img img {
  aspect-ratio: 800 / 550;
  // max-width: rem(800);
  width: 100%;
}

.page-seavice-body-text {
  padding: rem(50);
  font-size: rem(24);
  background: rgba($color: #FFD600, $alpha: 0.7);
  margin-top: rem(-100);
  position: relative;
  z-index: 1;
}

.page-service-content-right .page-seavice-body-img {
  margin-right: calc( 400 / 1200 * 100%);
}

.page-service-content-left .page-seavice-body-img {
  margin-left: calc( 400 / 1200 * 100%);
}

.page-service-content-right .page-seavice-body-text {
  margin-left: calc( 300 / 1200 * 100%);
}

.page-service-content-left .page-seavice-body-text {
  margin-right: calc( 300 / 1200 * 100%);
}

