@use "../global" as *;

.page-news {
}

.page-news-inner {
  @include mq(xl) {
    max-width: rem(1575);
}
  @include mq(md) {
      max-width: rem(1000);
  }
}

.page-news-pagenavi {
  margin-top: rem(75);
}