@use "../global" as *;

.page-contact {
  padding: rem(120) 0;
  position: relative;
}

.page-contact-inner {
  @include mq(xl) {
      max-width: rem(1500);
  }
  @include mq(md) {
      max-width: rem(1000);
  }
}

.page-contact-read {
  margin-top: rem(44);
}