@use "../global" as *;

.reason {
}

.reason-inner {
  @include mq(xl) {
    max-width: rem(1575);
}
@include mq(md) {
  max-width: rem(1000);
}
}

.reason-read {
  margin-top: rem(50);
  font-size: rem(24);
  font-weight: $regular;
}

.reason-text + .reason-text {
  margin-top: rem(20);
}

.reason-content {
  margin-top: rem(25);
}

.reason-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // display: flex;
  gap: rem(69);
  // overflow: hidden;
  @include mq(lg) {
      gap: rem(30);
  }
  @include mq(md) {
    grid-template-columns: repeat(1, 1fr);
    max-width: rem(600);
    width: 100%;
    margin-inline: auto;
  }
  

}

.reason-item {
  // width: 100%;
  background-image: linear-gradient(
    transparent 0%,
    transparent 11%,
    #F4F3F3 11%,
    #F4F3F3 100%
  );
  
}

.reason-item-number {
  font-size: rem(48);
  font-family: $font-family-en;
  text-align: center;
  text-transform: uppercase;
}

.reason-item-number span {
  font-size: rem(96);
  color: $yellow;
}


.reason-item-img {
  // max-width: rem(354);
  // width: 100%;
  padding-top: rem(40);
  text-align: center;
}

.reason-item-img img {
  max-width: rem(150);
  width: 100%;
  display: inline-block;
}
.reason-item-body {
  margin-top: rem(50);
  padding: 0 rem(20) rem(50);
}

.reason-item-title {
  font-size: rem(36);
  text-align: center;
}

.reason-item-text {
  font-size: rem(20);
  font-weight: $regular;
  margin-top: rem(14);
}
